{% extends "dc/base.html" %}

{% block content %}

{{ heading }}

<script>
    document.getElementById('brainstorm').className = "active";
</script>


<div ng-app="brainstormingApp" ng-controller="brainstormingController" id="ngDiv">

<form action="{% url 'dc:brainstorm' %}" method="post">
    {% csrf_token %}
    <fieldset>
    <div class="form-group" id="form_inputs">
        <input class="form-control" type="text" name="statement">
    </div>
    </fieldset>

    <div class="form-group form-actions">
        <input id="add_button"     tabindex="2" type="button" class="btn" ng-click="addGroup()" value="Add Statement" />
        <input id="submit_button"  tabindex="1" type="submit" class="btn btn-primary" value="Submit" />
    </div>
</form>


<script>

    document.getElementById('form_inputs').addEventListener('keypress', function(event) {
        if (event.keyCode == 13) {
            console.log('sdfasdfsd');
            event.preventDefault();


            var scope = angular.element(document.getElementById('ngDiv')).scope()
            scope.addGroup();
        }
    });

var app = angular.module( "brainstormingApp", [] ).config(function($httpProvider) {
    $httpProvider.defaults.xsrfCookieName = 'csrftoken';
    $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
});

app.controller(
    "brainstormingController", [ '$scope', '$http', '$log',
    function( $scope, $http, $log ) {
        $scope.numStatements = 1;

        $scope.addGroup = function() {
            var s_form = document.getElementById("form_inputs");

            var n = document.createElement("input");
            n.name = "statement" // + $scope.numStatements;
            n.className = "form-control"

            //$scope.numStatements++;

            n.type = "text";

            s_form.appendChild(n, document.getElementById("add_button")).focus();
        };
    }
]);

</script>
</div>
{% endblock %}
