{% extends "dc/base.html" %}

{% block content %}

{{ heading }}

<script>
    document.getElementById('brainstorm').className = "active";
</script>


<div ng-app="brainstormingApp" ng-controller="brainstormingController" id="ngDiv">

<form action="{% url 'dc:brainstorm' %}" method="post">
    {% csrf_token %}
    <fieldset>
    <div class="form-group" id="form_inputs" ng-repeat="statementInput in statements" set-focus="$last">
        <input class="form-control" type="text" name="statement" ng-keypress="onEnter($event)">
    </div>
    </fieldset>

    <div class="form-group form-actions">
        <input id="add_button"     tabindex="2" type="button" class="btn btn-primary" ng-click="addGroup()" value="Add Statement" />
        <input id="submit_button"  tabindex="1" type="submit" class="btn" ng-click="submitGroup($event)" value="Submit" />
    </div>
</form>


<script>

var app = angular.module( "brainstormingApp", [] ).config(function($httpProvider) {
    $httpProvider.defaults.xsrfCookieName = 'csrftoken';
    $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
});

app.directive('setFocus', function(){
  return {
      scope: {setFocus: '='},
      link: function(scope, element){
            element[0].children[0].focus();
      }
  };
});

app.controller(
    "brainstormingController", [ '$scope', '$http', '$log',
    function( $scope, $http, $log ) {
        $scope.statements = [""];

        $scope.addGroup = function() {
            $scope.statements.push($scope.statements.length);

        }

        $scope.submitGroup = function(e) {
            console.log('submitting');

            if(!confirm('Have you checked that all statements you have generated covers all experiences of ‘exploitation of migrants working in low-skilled position’?')) {
                e.preventDefault();
            }
        }

        $scope.onEnter = function(keyEvent) {
            if (keyEvent.which === 13) {
                keyEvent.preventDefault();
                $scope.addGroup();
            }
        }
    }
]);

</script>
</div>
{% endblock %}
