{% extends "dc/base.html" %}
<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--<meta charset="utf-8">-->
<!--<title>Data Collection</title>-->
<!--{% load staticfiles %}-->

<!--&lt;!&ndash; AngularJS &ndash;&gt;-->
<!--<script src="{% static 'dc/js/angular.min.js' %}"></script>-->

<!--&lt;!&ndash; Sortable.js &ndash;&gt;-->
<!--<script src="http://rubaxa.github.io/Sortable/Sortable.js"></script>-->
<!--&lt;!&ndash;<script src="{% static 'dc/js/Sortable.min.js' %}"></script>&ndash;&gt;-->
<!--<script src="{% static 'dc/js/ng-sortable.js' %}"></script>-->

<!--<link rel="stylesheet" href="{% static 'dc/css/styles.css' %}" type="text/css"/>-->
<!--</style>-->


{% block content %}


{{ heading }}
<br/>

<div ng-app="groupingApp" ng-controller="groupingController">
    <link rel="stylesheet" href="{% static 'dc/css/styles.css' %}" type="text/css"/>

    <script>
        document.getElementById('group').className = "active";
    </script>

    {% csrf_token %}
    <button id="add_group" class="btn" ng-click="addGroup()">Add Group</button>

    <div class="row groups">
        <div class="col-md-3">
            <div class="layer">
                <div class="layer title title-source">Statements to group</div>
                <ul id="source_group" class="block__list block__list_tags">
                    {% for statement in statements %}
                    <li id="{{statement.id}}">{{statement}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>


        <div class="col-md-8 col-md-offset-1">
            <div id="destination_group">
                <div id="group-1" class="layer">
                    <div class="layer title">
                        <input type="text" value="Group 1" id="group-1_title">
                    </div>
                    <ul class="block__list block__list_tags">
                    </ul>
                </div>

                <div id="group-2" class="layer">
                    <div class="layer title">
                        <input type="text" value="Group 2" id="group-2_title">
                    </div>
                    <ul class="block__list block__list_tags">
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <button id="save_button" class="btn btn-primary" ng-click="saveOrdering()">Save</button>

    <script src="{% static 'dc/js/Sortable.min.js' %}"></script>
    <script src="{% static 'dc/js/ng-sortable.js' %}"></script>

    <script id="jsbin-javascript" src="{% static 'dc/js/group.js' %}"></script>
</div>
{% endblock %}