{% extends "dc/base.html" %}

{% block content %}

{{ heading }}
<br>

<script>
    document.getElementById('rate').className = "active";

    function checkForm() {

        if($('.missing:checked').length != 0) {
            alert("It seems that at least one statement has not been rated. Could you rate the statement(s) where the ‘Missing’ option is selected, please?");
            return false;
        }


        if(confirm("Have you checked that the ratings you have proposed represent the relative importance you give to each statement?")) {
            return true;
        } else {
            return false;
        }
    }

</script>
<form name="ratingForm" action="{% url 'dc:rate_statements' %}" method="post">
    {% csrf_token %}

    <table>
        <tr>
            <th></th>
            <th>Relatively unimportant (1)</th>
            <th>Somewhat important (2)</th>
            <th>Moderately important (3)</th>
            <th>Very important (4)</th>
            <th>Extremely important (5)</th>
            <th>Missing</th>
        </tr>


        {% for s in statements %}
        <tr>
            <td>{{ s }}</td>
            <td><input type="radio" name="{{s.id}}" id="{{s.id}}-1" value="1" autocomplete="off"></td>
            <td><input type="radio" name="{{s.id}}" id="{{s.id}}-2" value="2" autocomplete="off"></td>
            <td><input type="radio" name="{{s.id}}" id="{{s.id}}-3" value="3" autocomplete="off"></td>
            <td><input type="radio" name="{{s.id}}" id="{{s.id}}-4" value="4" autocomplete="off"></td>
            <td><input type="radio" name="{{s.id}}" id="{{s.id}}-5" value="5" autocomplete="off"></td>
            <td><input type="radio" name="{{s.id}}" class="missing" id="{{s.id}}-missing" autocomplete="off" checked></td>

            </div>
        </tr>
        {% endfor %}

    </table>

    <input type="submit" class="btn btn-primary" value="Submit" onclick="return checkForm()"/>
</form>


{% endblock %}
