{% extends "dc/base.html" %}

{% block content %}
<script>
    document.getElementById('sign_in').className = "active";
</script>


Welcome {{user.first_name}},<br>
Below are some information we need to collect for our analysis. Your personal details (name and email) will only be accessed by the main investigators. <br>
Only aggregated data enabling anonymity would be used in our analysis.<br>
Could you check the information pre-entered, correct them if need be and fill in the empty fields, please?<br>
Thank you very much.<br>
<br>

<h1 class="page-header">Please Sign In</h1>
<form action="{% url 'dc:sign_in' %}" class="form-horizontal form-group" method="post">
    {% csrf_token %}
    <fieldset>
        <!--<legend>{{ title }}</legend>-->
        {% for field in form %}
        {% if field.errors %}
        <div class="control-group error">
            <label class="control-label">{{ field.label }}</label>
            <div class="controls">{{ field }}
                        <span class="help-inline">
                            {% for error in  field.errors %}{{ error }}{% endfor %}
                        </span>
            </div>
        </div>
        {% else %}
        <div class="control-group">
            <label class="control-label">{{ field.label }}</label>
            <div class="controls">{{ field }}
                {% if field.help_text %}
                <p class="help-inline"><small>{{ field.help_text }}</small></p>
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </fieldset>
    <br />
    <div class="form-actions">
        <button type="submit" class="btn btn-primary" >Submit</button>
    </div>
</form>
{% endblock %}