{% extends "dc/base.html" %}

{% block content %}
<script>
    document.getElementById('welcome').className = "active";

    function EnableSubmit(val) {
        var submit = document.getElementById('submit_button');
        submit.disabled = !val.checked;
    }

</script>

{{ heading }}
<br/>

{% if user %}
Welcome {{ user.first_name }}. Please log in with the provided password.

<form action="{% url 'dc:welcome_with_id' user_id=user.id %}" method="POST">
    {% csrf_token %}
    <div class="checkbox">
        <label><input type="checkbox" name="consent_checkbox" onchange="EnableSubmit(this)" />I consent to bla bla bla</label>
    </div>
    <button type="submit" id="submit_button" disabled="true" class="btn btn-primary">Go</button>
</form>


{% endif %}


{% endblock %}