.block__list {
    padding: 20px 0;
    //max-width: 500px;
    margin-top: -8px;
    margin-left: 5px;t
    background-color: #fff;
}

.block__list li { cursor: move; }

.block__list_words li {
    background-color: #fff;
    padding: 10px 40px;
}

.block__list_tags {
    padding-left: 30px;
}

.block__list_tags:after {
    clear: both;
    content: '';
    display: block;
}

.block__list_tags li {
    color: #fff;
    margin: 8px 20px 10px 0;
    padding: 5px 10px;
    min-width: 10px;
    background-color: #5F9EDF;
    text-align: center;
}

.list-group-item {
    background: #eee;
    margin: 1px;
    padding: 5px 10px;
}

.sortable-ghost {
    opacity: .6;
}

ul.block__list {
    border: 1px solid black;
}

.groups {
    margin-top: 10px;
    font-size: 12px;
}

.title {
    color: #fff;
    padding: 3px 10px;
    display: inline-block;
    position: relative;
    background-color: #FF7373;
    z-index: 1000;
}

.title-source {
    background: #22cc22;
}


table {
    border-collapse: collapse;
    margin: 10px 0;

}

td, th {
    border: 1px solid #ccc;
    padding: 10px;
}

th:empty {
    border: 0;
}